#creatediv {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
}

input {
    width: inherit;
}

#createbutton {
    width: 100%;
}

#input4 {
    width: 173px;
}

p {
    margin: 0;
    color: red;
}

h2 {
    margin: 0;
}

#numberInput {
    width: 30px;
}

#newDiv {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}